<h2>Créer une nouvelle partie contre l'ordinateur</h2>

<%= simple_form_for @game do |f| %>
  <%= f.button :submit, 'Lancer la partie', class: 'btn btn-primary' %>
<% end %>

<p>Vous jouez contre l'ordinateur, qui sera le joueur "O".</p>
